@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@900&family=Kaisei+Tokumin:wght@400;500;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@600&display=swap');

body{
    background-image: url(../image/udd-frontis-2a-1920x1080.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}